@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.ultra-font {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
}